.container
  .row.justify-content-left
    .col-lg-10.col-md-10
      = simple_form_for [@commentable, @comment] do |f|
        .form-group
          = f.input :body, label: false, input_html: {class: 'form-control', rows: 5}
        .actions
          = f.submit t('.create'), class: 'btn btn-primary'