.finance {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  color: $color-grey;
}

.collected {
  text-align: left;
}

.percent {
  text-align: center;
  padding-top: 13px;
}

.need {
  text-align: right;
}

.right-position {
  float: right;
  margin-bottom: 15px;
  margin-top: -8px;
}

.progress-done {
  background-color: $turquoise;
}

.campaign-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.btn-campaigns {
  margin: 0 0 5px 5px;
  padding: 5px 10px;
}

.statistic {
  margin: 20px 0;
}

.description {
  margin-top: 30px;
}

.btn-back {
  margin-top: 10px;
}

.btn-submit {
  margin: 10px 0 0;
  padding: 5px 30px;
}

.style-dropdown {
  margin: 15px 0;

  a, span {
    &:active {
      background-color: $turquoise;
    }
  }
}
